/* main.scss */
/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
	Import other sass files
*/
.devlog {
  position: fixed;
  top: 50px;
  right: -5px;
  padding: 10px 20px;
  background: #49483E;
  color: #75715E;
  border: 5px solid black;
  -webkit-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
  word-wrap: break-word;
  font-family: Helvetica,Arial,sans-serif;
  text-align: left;
  width: 200px;
  overflow: auto; }
  .devlog * {
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal; }
  .devlog h1 {
    font-size: 16px;
    font-weight: bold; }
  .devlog a {
    text-decoration: none;
    color: #5c87cf !important; }
    .devlog a:hover {
      text-decoration: underline;
      color: #5c87cf; }
  .devlog .color1 {
    color: #d87d07; }
  .devlog .color2 {
    color: #8ea812; }
  .devlog p {
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    display: block;
    height: 0;
    overflow: hidden; }
  .devlog h1:hover + p {
    height: auto;
    min-height: 0px;
    max-height: 300px; }
  .devlog h1.visible + p {
    height: auto;
    min-height: 0px;
    max-height: 300px; }

/* basic clearfix */
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* IE < 8 */
